@import url(http://fonts.googleapis.com/css?family=Quantico);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

html, body {
    overflow: hidden; margin: 0;
    background: #222222;
}

div, a {
    font-family: 'Quantico'; font-size: 16px; color: #E0E4CC; text-shadow: 3px 3px 3px #111111; text-decoration: none;
}

.info {
    position: absolute; bottom: 10px; left: 10px;
}
